<div class='center jumbotron'>

  <h1><%= yield(:page) %></h1>
  <p>
   Welcome to Newzer!
  </p>

  <%= link_to 'Register',
              signup_path,
              class: 'btn btn-lg btn-primary' %>

</div>

<div>

  <%= render Article.find_by_id(1) %>

</div>
