<div class='center well'>
  <p>
   Welcome back <%= current_user.name %>
  </p>

  <%= link_to 'New Article',
              new_article_path,
              class: 'btn btn-lg btn-primary' %>

</div>



    <div class='user-articles col-md-8'>
      <%= render current_user.articles %>
    </div>
    <div class='user-comments col-md-4'>
      <%= render :partial => 'comments/profile_comment',
                 :collection => current_user.comments.reverse,
                 :as => :comment %>
    </div>


