<div class='center well'>
  <h2>
   Welcome back <%= current_user.name %>
  </h2>

  <%= link_to 'New Article',
              new_article_path,
              "data-no-turbolink" => "true",
              class: 'btn btn-md btn-primary' %>

</div>

<hr>

<div class='row'>
  <div class='user-articles col-md-8'>
    <%= render current_user.articles %>
  </div>
  <div class='user-comments col-md-4'>
    <%= render :partial => 'comments/comment_profile',
               :collection => current_user.comments.reverse,
               :as => :comment %>
  </div>
</div>
