<% provide(:title, 'About') %>
<h1><%= yield(:title) %></h1>
<p>
  This page is found in <b>app/views/static_pages/about.html.erb</b> and is accessed by using <b>localhost:3000/static_pages/about</b>.
</p>
