<% provide(:title, 'Contact') %>
<h1><%= yield(:title) %></h1>
<p>
  This page is found in <b>app/views/static_pages/contact.html.erb</b> and is accessed by using <b>localhost:3000/static_pages/contact</b>.
</p>
