<% provide(:title, 'Help') %>
<h1><%= yield(:title) %></h1>

<p>
  This page is found in <b>app/views/static_pages/help.html.erb</b> and is accessed by using <b>/static_pages/help</b>. The help page is currently disabled.
</p>
