<%= bootstrap_form_for([@article, @article.comments.build]) do |f| %>

  <%# render 'shared/error_messages', object: f.object %>
  <%# Comment error messages are currently being handled by the controller. %>

  <div class='col-md-8'>
    <%= f.text_area :body,
                    rows: 3,
                    hide_label: true,
                    placeholder: "Leave a comment...",
                    class: ""%>
  </div>

  <div class='col-md'>
    <%= f.button '',
                 type: 'submit',
                 title: 'Submit',
                 class: "btn btn-sm btn-success
                         glyphicon glyphicon-comment" %>
  </div>

<% end %>
