$("#ajax_reply_<%= @comment.parent.id %>").html("<%= escape_javascript(render 'comments/comment_instant') %>");

$("#reply_form_<%= @comment.parent.id %>").html("");

$("#ajax_flash_<%= @comment.parent.id %>").html("<div class='alert alert-success ajax-flash'>Reply added.</div>")
