<% provide(:title, "Flagged") %>

<div><h2>Flagged</h2><div>

<hr>

<%= will_paginate @comments %>

<%= render :partial => 'comments/comment_flagged',
           :collection => @comments,
           :as => :comment %>

<%= will_paginate @comments %>
