<div><h2>
<%= link_to "Discussion from \"#{@comment.article.title}\"",
            @comment.article,
            class: 'btn btn-block btn-default' %>
</h2></div>

<hr>

<%= comments_tree_for @comment.hash_tree %>
