<% provide(:title, "Approved Articles") %>

<div><h2>Approved Articles</h2><div>

<div>
<%= link_to 'New Article',
            new_article_path,
            "data-no-turbolink" => "true",
            class: 'new-article-button btn btn-block btn-primary' %>
</div>

<hr>

<%= will_paginate @articles %>

<%= render @articles %>

<%= will_paginate @articles %>
