@import 'bootstrap-sprockets';
@import 'bootstrap';

/* admin color */

.admin-user{
  color: #d9534f;
}


/* Base 16 Colors */

.base00-background { background-color: #181818; }
.base01-background { background-color: #282828; }
.base02-background { background-color: #383838; }
.base03-background { background-color: #585858; }
.base04-background { background-color: #b8b8b8; }
.base05-background { background-color: #d8d8d8; }
.base06-background { background-color: #e8e8e8; }
.base07-background { background-color: #f8f8f8; }
.base08-background { background-color: #ab4642; }
.base09-background { background-color: #dc9656; }
.base0A-background { background-color: #f7ca88; }
.base0B-background { background-color: #a1b56c; }
.base0C-background { background-color: #86c1b9; }
.base0D-background { background-color: #7cafc2; }
.base0E-background { background-color: #ba8baf; }
.base0F-background { background-color: #a16946; }

.base00 { color: #181818; }
.base01 { color: #282828; }
.base02 { color: #383838; }
.base03 { color: #585858; }
.base04 { color: #b8b8b8; }
.base05 { color: #d8d8d8; }
.base06 { color: #e8e8e8; }
.base07 { color: #f8f8f8; }
.base08 { color: #ab4642; }
.base09 { color: #dc9656; }
.base0A { color: #f7ca88; }
.base0B { color: #a1b56c; }
.base0C { color: #86c1b9; }
.base0D { color: #7cafc2; }
.base0E { color: #ba8baf; }
.base0F { color: #a16946; }

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* universal */

pre {
  font-family: 'Menlo', monospace !important;
  font-size: 14px;
  padding: 10px 20px;
}


body {
  margin: 0% 20%;
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* callouts */

@mixin bs-callout($color, $bgcolor) {
  display: block;
  margin: 20px 0;
  padding: 15px /*30*/0px 15px 15px;
  border: 0px solid;
  border-left-width: 5px;
  border-color: lighten($color, 25%);
  border-left-color: $color;
  /*background-color: $bgcolor;*/
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    color: $color;
  }
  p:last-child {
    margin-bottom: 0;
  }
  code, .highlight {
    background-color: #fff;
  }
}

.bs-callout-primary {
  @include bs-callout($brand-primary, lighten($brand-primary, 45%));
}

.bs-callout-danger {
  @include bs-callout($brand-danger, lighten($brand-danger, 30%));
}

.bs-callout-warning {
  @include bs-callout($brand-warning, lighten($brand-warning, 50%));
}

.bs-callout-info {
  @include bs-callout($brand-info, lighten($brand-info, 40%));
}

.bs-callout-success {
  @include bs-callout($brand-success, lighten($brand-success, 40%));
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}


/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* articles */

.new-article-button{
  margin-top: 13px;
}

.article-edit-header{
  padding: 10px 20px;
  border: 1px solid $gray-lighter;
}

.article-buttons{
  display: inline-block;
  float: right;
}

.article-tag{
  display: inline-block;
  float: right;
}

.article-time{
  font-size: .7em;
  float: left;
}
.article-time li{
  list-style: none;
}

/* categories */

.category-div{
  margin-bottom: 1%;
}

@mixin category-button{
  font-size: 2em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 900;
  border: .2em solid white;
  border-radius: .4em;
  padding-top: 20%;
  padding-bottom: 20%;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
}

.category-button-1{
  @include category_button;
  background-image: url('image-placeholder.jpeg');
}

.category-button-2{
  @include category_button;
  background-image: url('image-placeholder.jpeg');
}
.category-button-3{
  @include category_button;
  background-image: url('image-placeholder.jpeg');
}
.category-button-4{
  @include category_button;
  background-image: url('image-placeholder.jpeg');
}
.category-button-5{
  @include category_button;
  background-image: url('image-placeholder.jpeg');
}
.category-button-6{
  @include category_button;
  background-image: url('image-placeholder.jpeg');
}
.category-button-7{
  @include category_button;
  background-image: url('image-placeholder.jpeg');
}
.category-button-8{
  @include category_button;
  background-image: url('image-placeholder.jpeg');
}
.category-button-9{
  @include category_button;
  background-image: url('image-placeholder.jpeg');
}
.category-button-10{
  @include category_button;
  background-image: url('image-placeholder.jpeg');
}
.category-button-11{
  @include category_button;
  background-image: url('image-placeholder.jpeg');
}
.category-button-12{
  @include category_button;
  background-image: url('image-placeholder.jpeg');
}

