<footer class='footer'>
  <small>
    A personal RoR project to try out CKEditor and create a community driven news app.
  </small>
  <nav>
    <ul>
      <li><%= link_to 'About',     about_path %></li>
      <li><a href="mailto:tumri@live.com">Contact</a></li>
      <li><a href='https://github.com/tumri/Newzer'>GitHub</a></li>
      <li><a href='https://newzer.herokuapp.com/'>Heroku</a></li>
    </ul>
  </nav>
</footer>
