<footer class='footer'>
  <small>
    CKEditor Test Application
  </small>
  <nav>
    <ul>
      <li><%= link_to 'About',     about_path %></li>
      <li><%= link_to 'Contact', contact_path %></li>
      <li><a href='#'>GitHub</a></li>
      <li><a href='#'>Heroku</a></li>
    </ul>
  </nav>
</footer>
